# Ambiente virtual
venv/

# Credenciais do Streamlit
.streamlit/secrets.toml

# Cache do Python
__pycache__/

# Arquivos compilados do Python
*.pyc

# Arquivos temporários
*.log

# Configurações do VS Code (opcional)
.vscode/